body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
background-color: black;
color: white;
display: flex;
flex-direction: row;
justify-content: space-around;
min-height: 5vh;
font-size: 1em;
}

nav-links{
width: 50%;
display: flex;
justify-content: space-around;
list-style: none;
}